@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');
body{
  width: 1400px;
  font-family: 'Raleway', sans-serif;
}
img{
  position: relative;
}
.bigdiv{
  padding-left: 20px;
  height: 550px;
  width:1400px;
  position: relative;
  top: 100px;
}
button{
  position: relative;
  top: 50px;
  height: 50px;
  width: 200px;
  border-radius: 100px;
  cursor: pointer;
}
button:hover{
  background-color: gray;
}
span{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
}
p{
  line-height: 30px;
}
